# Machine Learning & Statistics Project 2020
By Kevin Dooley

In [1]:
## import packages

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### Load Dataset
To be able to give an overview of the dataset, I had to first obtain it. Copied and saved the dataset from Moodle as a CSV file in my repository. This was saved as powerproduction.csv and was the basis of the project.

In [2]:
df = pd.read_csv("powerproduction.csv") #read the csv file using pandas
df # called the dataset df

      speed  power
0     0.000    0.0
1     0.125    0.0
2     0.150    0.0
3     0.225    0.0
4     0.275    0.0
..      ...    ...
495  24.775    0.0
496  24.850    0.0
497  24.875    0.0
498  24.950    0.0
499  25.000    0.0

[500 rows x 2 columns]

In [3]:
print("Rows x Columns:", df.shape)

Rows x Columns: (500, 2)

The powerproduction.csv has two variables: speed and power. There are also 500 rows in the dataset.

In [5]:
# glance at data - show first 5 rows
df.head()

   speed  power
0  0.000    0.0
1  0.125    0.0
2  0.150    0.0
3  0.225    0.0
4  0.275    0.0

In [6]:
# glance at data - show last 5 rows
df.tail()

      speed  power
495  24.775    0.0
496  24.850    0.0
497  24.875    0.0
498  24.950    0.0
499  25.000    0.0

In [8]:
# glance at data - show 15 rows
df.sample(15)

      speed    power
310  15.741   79.720
166   8.183    7.830
408  20.220  101.507
453  22.798   98.067
320  16.291   85.999
296  15.165   69.248
143   7.207    8.238
69    3.629    9.890
191   9.885   27.136
308  15.666   86.288
30    1.276    6.510
333  16.942   94.925
446  22.472  103.306
258  12.888   53.954
125   6.356    5.842

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   speed   500 non-null    float64
 1   power   500 non-null    float64
dtypes: float64(2)
memory usage: 7.9 KB

By using these simple functions it is easy to do a overview comparision for both variables of the dataset. These functions do not really tell us much information but they do familarise us with the dataset. The first observation to make from the above is that there appears to be a power output of 0 when in fact there was substantial windspeed. This will need to be investigated further but you could make a reasonable assumption that there was an issue or downtime during these periods.

In [9]:
#describe function to show statistical summary of the dataset
df.describe()

            speed       power
count  500.000000  500.000000
mean    12.590398   48.014584
std      7.224991   41.614572
min      0.000000    0.000000
25%      6.324750    5.288000
50%     12.550500   41.645500
75%     18.775250   93.537000
max     25.000000  113.556000